.homepage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url("../assets/white-paint.jpg"); */
    background-color: rgb(248, 248, 237);
    /* background-image: url("../assets/random.jpg"); */
}

.sloganBox {
    /* background-color: rgba(96, 96, 96, 0.482); */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.321),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    10px 12.5px 10px rgba(0, 0, 0, 0.06),
    15px 1.3px 17.9px rgba(0, 0, 0, 0.072),
    20px 1px 33.4px rgba(0, 0, 0, 0.086),
    25px 50px 60px rgba(0, 0, 0, 0.12);
    padding: .5rem;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.237);
}

.sloganSentence {
    font-size: 1.1rem;
}

.text {
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    font-family: monospace;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}
.animatedText {
    background: linear-gradient(to right, #0000ff, #0099ff , #00ff00, #ff0080, #0000ff, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 7.5s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.drop {
    /* background: white; */
    /* background-image: url("../assets/white-paint.jpg"); */
    background-color: rgb(248, 248, 237);
    margin: 40px;
    height: 50px;
    width: 14px;
    position: absolute;
    /* z-index: 10; */
    bottom: -93px;
    left: 250px;
  }
  
  .drop::before,
  .drop::after {
    content: '';
    position: absolute;
    /* background: white; */
    /* background-image: url("../assets/white-paint.jpg"); */
    background-color: rgb(248, 248, 237);
    border-radius: 50%;
  }
  
  .drop::before {
    width: 30px;
    height: 30px;
    top: -25px;
    left: -8px;
  }
  
  .drop::after {
    width: 17px;
    height: 20px;
    top: 40px;
    left: -1.4px;
  }
  
  .gaps::before,
  .gaps::after {
    content: '';
    position: absolute;
    /* background:  rgb(167, 228, 251); */
    background-image: url("../assets/blue-paint.jpg");
    border-radius: 50%;
    /* z-index: 10; */
  }
  
  .gaps::before {
    width: 22px;
    height: 48px;
    top: -.5px;
    left: -17.5px;
  }
  
  .gaps::after {
    width: 22px;
    height: 46px;
    top: 0.7px;
    left: 8.74px;
  }

  .drop2 {
    /* background: white; */
    /* background-image: url("../assets/white-paint.jpg"); */
    background-color: rgb(248, 248, 237);
    margin: 40px;
    height: 20px;
    width: 14px;
    position: absolute;
    /* z-index: 10; */
    bottom: -62.75px;
    right: 250px;
  }
  
  .drop2::before,
  .drop2::after {
    content: '';
    position: absolute;
    /* background: white; */
    /* background-image: url("../assets/white-paint.jpg"); */
    background-color: rgb(248, 248, 237);
    border-radius: 50%;
  }
  
  .drop2::before {
    width: 30px;
    height: 30px;
    top: -25px;
    left: -7px;
  }
  
  .drop2::after {
    width: 17px;
    height: 20px;
    top: 9px;
    left: -1.4px;
  }
  
  .gaps2::before,
  .gaps2::after {
    content: '';
    position: absolute;
    /* background:  rgb(167, 228, 251); */
    background-image: url("../assets/blue-paint.jpg");
    border-radius: 50%;
    /* z-index: 10; */
  }
  
  .gaps2::before {
    width: 22px;
    height: 22px;
    top: -3px;
    left: -21px;
  }
  
  .gaps2::after {
    width: 22px;
    height: 22px;
    top: -2px;
    left: 13px;
  }

  @media screen and (max-width: 495px) {
    .text {
      font-size: 2rem;
      letter-spacing: 1px;
    }
  }