.homepage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url("../assets/white-paint.jpg"); */
    background-color: rgb(248, 248, 237);
    /* background-image: url("../assets/manicure.jpg"); */
    /* background-image: url("../assets/try.jpg"); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sloganBox {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.321),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    10px 12.5px 10px rgba(0, 0, 0, 0.06),
    15px 1.3px 17.9px rgba(0, 0, 0, 0.072),
    20px 1px 33.4px rgba(0, 0, 0, 0.086),
    25px 50px 60px rgba(0, 0, 0, 0.12);
    padding: .5rem;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.237);
    background-color: rgb(248, 248, 237);
    z-index: 1;
    position: absolute;
}

.sloganSentence {
    font-size: 1.1rem;
}

.text {
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    font-family: monospace;
    /* font-family: 'Shrikhand', cursive; */
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    /* font-weight: bold; */
}
.animatedText {
    background: linear-gradient(to right, #0000ff, #0099ff , #00ff00, #ff0080, #0000ff, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 7.5s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.manicurephoto {
  height: 15rem;
  width: 15rem;
  border-radius: 200px;
  opacity: .75;
  position: sticky;
  right: 65%;
  top: 20%;
}

.manicurephoto2 {
  height: 15rem;
  width: 15rem;
  border-radius: 200px;
  opacity: .75;
  position: absolute;
  left: 50%;
  bottom: 2rem;
}
.manicurephoto3 {
  height: 15rem;
  width: 15rem;
  border-radius: 200px;
  opacity: .75;
  position: absolute;
  left: 75%;
  bottom: 17rem;
}

.player-holder{
  height:350px;
  max-width:650px;
  background:blue;
  text-align: center;
}
.player-thumb{
  width: 15rem;
  height: 15rem;
  display: inline-block;
  border-radius: 50%;
  background-image: url("../assets/manicure.jpg");
  background-size: cover;
  position: absolute;
  left: 10rem;
  top: 9rem;
}

  @media screen and (max-width: 1000px) {
    .text {
      font-size: 2rem;
      letter-spacing: 1px;
    }

    .player-thumb{
      width: 150px;
      height: 150px;
      left: 10rem;
      top: 9rem;
    }

    .manicurephoto2 {
      height: 10rem;
      width: 10rem;
      left: 13rem;
      top: 60%;
    }

    .manicurephoto3 {
      height: 10rem;
      width: 10rem;
      left: 1rem;
      top: 28rem;
    }
  }