ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.lineAer {
    background-color: rgb(183, 217, 201);
    height: 3px;
    position: relative;
    bottom: 34.25px;
    opacity: .9;
}

.navbar {
    width: 100vw;
    position: fixed; 
    z-index: 5000;
    /* box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.321),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 50px 80px rgba(0, 0, 0, 0.12) */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    height: 4rem;
    border-bottom: 1px solid rgba(205, 205, 205, 0.199);
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin: 1rem;
    z-index: 5;
    color: black;
}

.logo {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    font-size: 4rem;
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-family: 'Roboto Serif', serif;
}

.contactBox li a {
    color: black;
}

.contactIcon {
    /* font-size: 10rem; */
}

.contactIcon:hover{
    position: relative;
    color: rgba(0, 0, 0, 0.388);
    bottom: 5px;
}

.hamburger {
    display: none;
    padding: 1rem;
}

.mobile-menu {
    display: none
}

.nav-menu{
    display:flex;
    padding-right: 11%;
    font-family: 'Roboto Serif', serif;
}

.nav-menu li {
    padding: 1rem;
}

.nav-menu li a {
    font-size: .75rem;
    color: black;
}

.nav-menu li a:hover {
    color: rgba(0, 0, 0, 0.388);
}

@media screen and (max-width: 1200px) {
    .hamburger{
        display: block;
        z-index: 5;
        padding-right: 3rem;
     }

    .nav-menu {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 60%;
        height: 101vh;
        background-color: rgb(159, 136, 112);
        top: -1rem;
        right: -100%;
        transition: .9s ease-in-out;
        box-shadow:
        0 -2.8px 2.2px rgba(0, 0, 0, 0.75),
        0 -6.7px 5.3px rgba(0, 0, 0, 0.4),
        0 -12.5px 10px rgba(0, 0, 0, 0.295),
        0 -22.3px 17.9px rgba(0, 0, 0, 0.206),
        0 -41.8px 33.4px rgba(0, 0, 0, 0.152),
        0 -100px 80px rgba(0, 0, 0, 0.105);
        padding-right: 0;
    }

    .active {
        right: 0;
    }

    .nav-menu li {
        margin: .5rem;
    }

    .navbar .slide-right {
        margin-left: 42.5%;
        transition: .8s ease-in-out;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0);
    }

    .logo{
        width: 9rem;
        padding-left: 0;
    }

}

@media screen and (max-width: 495px) {
    .nav-menu{
        width: 75%;
        transition: .8s ease-in-out;
    }

    .navbar .slide-right {
        margin-left: 31%;
    }

    .navbar .container {
        height: 4rem;
        width: 100%;
    }

    .logo {
        font-size: 2.5rem;
    }

    .lineAer {
        height: 3px;
        bottom: 25.8px;
        opacity: .9;
    }
}