.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: fixed;
    padding: 32px;
    width: 60vw;
    max-height: 35vh;
    background-color: rgb(192, 174, 155);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.popup-inner .close-btn {
    position: fixed; 
    width: 75%;
    display: flex;
    justify-content: end;
}

.title-popup {
    font-weight: bold;
}

.serviceBtnPopup {
    margin-top: 1.5rem;
    font-family: monospace;
    background-color: transparent;
    padding: 1rem;
    border: 4px solid rgba(0, 0, 0, 0.237);
    box-shadow:
    10px 5px 10px rgba(0, 0, 0, 0.12);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    color: black;
}

.services-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    width: 80%;
}

.services-popup-card {
    color:black;
}

@media screen and (max-width: 800px) {

    .popup {
        /* height: 500%;
        top: 300%;
        transform: translate(-50%, -60%);
        justify-content: start;
        align-items: start;
        background-color: rgb(192, 174, 155); */
        /* position: none; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .popup-inner {
        /* background-color: transparent; */
        /* max-height: 100%; */
    }

    .popup-inner .close-btn {
        /* width: 85%; */
    }
}