.portfolioPage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Roboto Serif', serif;
}

.topPortfolioSection {
    width: 80%;
    margin-bottom: 5%;
    text-align: start;
    /* color: white; */
}

.portfolioLine {
    border-top: 1px black solid;
}

.servicePortfolioTitle {
    margin-top: 2%;
    font-size: 1rem;
}

.pinterestBox {
    width: 75vw;
    height: 65%;
    overflow-y: auto;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(225px, 100%/3)), 1fr));
    grid-auto-rows: 10px;
    display: grid;
    justify-content: center;
    background-color: rgb(159, 136, 112);
    padding: 1%;
    border: 10px solid rgba(103, 59, 9, 0);
    border-radius: 1%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.321),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    10px 12.5px 10px rgba(0, 0, 0, 0.06),
    15px 22.3px 17.9px rgba(0, 0, 0, 0.072),
    17px 25px 40px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);
    max-width: 1000px;
}

.bounding-box {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     /* -webkit-mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="10" y="10" width="85" height="80"/></g></svg>'); 
     -webkit-mask-size: cover;  */
}

.bounding-box-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.porfolioBanner {
     display: flex;
     justify-content: center;
     margin-top: 2%;
}
.contactForNailArt {
    width: 60%;
    color: black;
    font-size: .85rem;
    /* letter-spacing: .5px; */
    font-family: 'Roboto Serif', serif;
}

.enlargeLink {
    color: black;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.bounding-box {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 1000px) {

    .pinterestBox {
        grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(200px, 50%/3)), 1fr));
    }
}

@media screen and (max-width: 750px) {
    .topPortfolioSection {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10%;
    }

    .servicePortfolioTitle {
        margin-top: 0;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 600px) {
    .portfolioPage {
        padding-top: 13%;
    }

    .pinterestBox {
        grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(175px, 50%/2)), 1fr));
    }

    .contactForNailArt {
        width: 60%;
    }
}