.servicePage {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #a9e4f9; */
    background-image: url("../assets/blue-paint.jpg");
    padding-top: 5rem;
    padding-bottom: 3.5rem;
}

.serviceBtn {
    margin-top: 1.5rem;
    font-family: monospace;
    background-color: transparent;
    padding: 1rem;
    border: 4px solid rgba(0, 0, 0, 0.237);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.238),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    10px 12.5px 10px rgba(0, 0, 0, 0.06),
    15px 22.3px 17.9px rgba(0, 0, 0, 0.05),
    25px 25px 50px rgba(0, 0, 0, 0.023),
    30px 30px 100px rgba(0, 0, 0, 0.12);
    color: rgb(0, 72, 114);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.serviceBtn:hover {
    /* background-image: url("../assets/blue-paint.jpg"); */
    background: rgb(248, 248, 237);
}

.detailsForBtn {
    margin-top: 1.5rem;
    width: 40%;
    font-size: 1rem;
    color: rgb(0, 72, 114);
    letter-spacing: 1.5px;
}

.horizontalScroll {
    display: flex;
    height: auto;
    width: 75%;
    border: 10px solid rgba(0, 0, 0, 0.237);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.321),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    10px 12.5px 10px rgba(0, 0, 0, 0.06),
    15px 22.3px 17.9px rgba(0, 0, 0, 0.072),
    25px 50px 80px rgba(0, 0, 0, 0.10);
}

.mainSlider {
    display: flex;
    flex-direction: row;
}

.pedicureBox {
    width: 25vw;
    color: rgb(0, 72, 114);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.134); */
}

.priceTitle {
    font-size: 2rem;
    width: auto;
    color: rgb(0, 72, 114);
    border-bottom: 1px solid black;
    margin: 0;
    margin-left: 1rem;
}

.more-detail {
    font-size: 1.10rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 1rem;
    cursor: pointer;
    padding-bottom: 2rem;
}

.manicurePrice {
    margin: 0;
    padding-left: 1rem;
    font-size: 1.10rem;
    color: rgb(0, 72, 114);
    text-align: start;
}

.random {
    /* margin: 0; */
    padding: 0;
}

.big {
    height: 100vh;
    width: 100vw;
    background-color: orange;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 72, 114);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 72, 114);
}

@media screen and (max-width: 1200px) {
    .mainSlider {
        flex-direction: column;
    }

    .pedicureBox {
        width: 75vw;
    }

    .horizontalScroll {
        display: flex;
        /* border: solid black 1px; */
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 300px;
        max-height: 500px;
    }

    .detailsForBtn {
        width: 85%;
        color: rgb(0, 72, 114);
        letter-spacing: 1px;
    }
}