.servicePage {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 5rem;
    font-family: 'Roboto Serif', serif;
    /* background-color: rgb(159, 136, 112); */
    background-color: rgb(179, 154, 128);
}

.serviceMenu {
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(179, 154, 128); */
    width: 700px;
}

.serviceMenuO {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background-color: rgb(179, 154, 128); */
    width: 700px;
}

.serviceTitle {
    font-size: 1.6rem;
    width: auto;
    margin: 0;
    color: white;
}

.servicePhoto {
    width: 40%;
    /* height: 10%; */
    padding: 5%;
    max-width: 600px;
}

.leftServiceSide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: min-content;
}

.moreDetail {
    color: white;
}

.topServiceSection {
    width: 80%;
    margin-bottom: 5%;
    text-align: start;
    color: white;
}

.line {
    border-top: 1px white solid;
}

.serviceSectionTitle {
    margin-top: 2%;
    font-size: 1rem;
}

.serviceBtn {
    margin-top: 1.5rem;
    font-family: 'Roboto Serif', serif;
    background-color: transparent;
    padding: 1rem;
    background-color: transparent;
    border: 1px white solid;
    background-color: rgb(159, 136, 112);
    font-size: .8em;
    font-family: 'Roboto Serif', serif;
    color: white;
    border-radius: 20px;
    padding: 10%;
    cursor: pointer;
    margin-bottom: 5%;
    width: 150px;
}

.detailsForBtn {
    margin-top: 1.5rem;
    width: 40%;
    font-size: .75rem;
    color: black;
    color: white;
}

.horizontalScroll {
    display: flex;
    height: auto;
    width: 75%;
}

.mainSlider {
    display: flex;
    flex-direction: row;
}

.pedicureBox {
    width: 25vw;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.priceTitle {
    font-size: 1.6rem;
    width: auto;
    margin: 0;
    color: white;
}

.more-detail-section {
    font-size: .75rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 1rem;
    cursor: pointer;
    padding-bottom: 2rem;
}

.more-detail {
    color: white;
}

.manicurePrice {
    margin: 0;
    text-align: center;
    /* color: black; */
    color: white;
}

.services-card{
    margin-top: 1.35rem;
    color: black;
    font-size: .8em;
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.123);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 72, 114);
}

@media screen and (max-width: 800px) {

    .serviceMenu {
        /* flex-direction: column-reverse; */
        padding-top: 10%;
        padding-bottom: 10%;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .serviceMenuO {
        /* flex-direction: column-reverse; */
        /* padding-bottom: 10%; */
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
        width: 100%;
    }

    .servicePhoto {
        width: 60%;
        padding: 0;
    }

    .servicePage {
        padding-top: 30%;
    }

    .mainSlider {
        flex-direction: column;
    }

    .pedicureBox {
        width: 75vw;
    }

    .horizontalScroll {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 50%;
        flex-direction: column;
        justify-content: start;
    }

    .serviceList {
        /* text-align: start; */
        width: 90%;
        margin-bottom: 5%;
    }

    .services-card{
        margin-top: 1.35rem;
        font-size: .7em;
    }

    .more-detail {
        display: none;
    }
}

@media screen and (max-width: 750px) {

    .topServiceSection {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10%;
    }

    .serviceSectionTitle {
        margin-top: 0;
        margin-bottom: 2%;
    }
}